@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

body, html {
	height: 100%;
	overflow:hidden;
	font-family: 'Black Han Sans', sans-serif;
}
.bg {

	width: 100%;
	height: 100%;
	align: center;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url("/WebContent/imgs/LandingBackground.jpg");
	background-size: cover;
	overflow:hidden;
}

.bg::before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(270deg, #0b94f2, #5bb2ee, #a6d5f5, #eaeff2);
	opacity: .1;
	-webkit-animation: AnimationName 6s ease infinite;
	-moz-animation: AnimationName 6s ease infinite;
	animation: AnimationName 6s ease infinite;
	overflow:hidden;
}
.notice{
	width :100%;
	align: center;
	right: 50%;
	bottom: 50%;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes span {
	from {
		width: 0%;
	}
	to {
		width: 10%;
	}
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media all and (-ms-high-contrast: none),

(-ms-high-contrast: active) {
	.bg {
		visibility: hidden;
	}
}
			
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@media screen and (max-width: 1400px) {
	html, body {
		overflow: hidden;
	}
}
