@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

body, html {
	align-content: center;
	height: 100%;
	overflow: hidden;
	font-family: 'Black Han Sans', sans-serif;
}

.button6{
	display : inline-block;
 	padding : 0.7em, 1.4em;
 	margin : 0, 0.3em, 0.3em, 0;
 	border-radius : 0.15em;
 	box-sizing : border-box;
 	text-decoration : none;
 	text-transform : uppercase;
	color : #FFFFFF;
 	background-color : #3369ff;
 	box-shadow : inset 0, -0.6em, 0, -0.35em, rgba(0,0,0,0.17);
 	text-align : center;
 	position : relative;
}

a.button6:active{
 	top: 0.1em;
}

@media all and (max-width:30em){
 	a.button6{
  		display : block;
  		margin : 0.4em, auto;
 	}
}
.bg {

	width: 100%;
	height: 100%;
	align: center;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url("/WebContent/imgs/LandingBackground.jpg");
	background-size: cover;
	overflow:hidden;
}

.notice{

	height: 100%;
	width :100%;
	text-align: center;
	position absolute
	top: 45%
	left: 50%;
}
h2{
	text-align: center;
	text-shadow: 2px 2px #000000;
}


@media all and (-ms-high-contrast: none),

(-ms-high-contrast: active) {
	.bg {
		visibility: hidden;
	}
}
			
@media screen and (max-width: 1400px) {
	html, body {
		overflow: hidden;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes span {
	from {
		width: 0%;
	}
	to {
		width: 10%;
	}
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
